* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 14px;
  margin: 10px 0;
}

#content {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  line-height: 1em;
}

h2 {
  letter-spacing: -1px;
}

h3 {
  opacity: 0.65;
  font-weight: 500;
}
